<div>
  <h1>App component</h1>

</div>
<br><br>
<app-crud></app-crud> -->
<app-userlist-httpservice></app-userlist-httpservice>
<!-- <!-- > -->
<!-- <app-observable></app-observable> -->
<!-- <app-one></app-one> -->
<!-- <div>
  <img src="../assets/pic/bike3.jpg" alt="" height="400" width="400">
  <img src="../assets/pic/bike4.jpg" alt="" height="400" width="400"> -->



<!-- <app-two></app-two> --> 
 <!-- <li *ngFor="let item of users">{{item.name}}</li> -->

  
    















<!-- 

<app-template-driven-form></app-template-driven-form>
 <app-reactive-form></app-reactive-form>   -->
<!-- <app-testing></app-testing>  -->
